Список мероприятий <br>

<div><%= link_to 'Прошедшие мероприятия', show_past_events_path %></div>

<% @all_events.each do |event| %>
  <table>
    <tr>
      <td>Мероприятие: <%= link_to event.name, about_event_path(event) %></td>
      <td><%= event.description %></td><br>
<% end %>
</tr>
</table>
<%= will_paginate @all_events %>
